<%= form_with(model: control, local: true) do |form| %>
  <% if control.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(control.errors.count, "error") %> prohibited this control from being saved:</h2>

      <ul>
      <% control.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :publisher %>
    <%= form.text_area :publisher %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
